h1, h2, h3 {
  color: blue;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: lightgray;
  color: white; 
}
h1{
  color: lightslategray;

}
h2{
  color: #ff1493;
}
p{
  background-color: rgb(154, 203, 50);
}